@mixin item-builder($media) {

    & > .flex#{$media}-avg {
        flex: 1;
    }

    & > .flex#{$media}-auto {
        flex: auto;
    }

    @for $i from 12 through 1 {
        & > .flex#{$media}-#{$i} {
            width: percentage($i/12);
        }
    }

}

@mixin space-builder($media) {

    @for $h from 4 through 1 {
        $x: $h * 8;

        &.space#{$media}-#{$h} {
            justify-content: space-between;

            @for $i from 12 through 1 {
                & > .flex#{$media}-#{$i} {
                    width: calc(#{percentage($i/12)} - #{$x*(1-$i/12)}px);
                }
            }
        }

        &.flex-wrap.space#{$media}-#{$h} {
            &.space-fix {
                margin-bottom: -#{$x}px;
            }

            & > [class*=flex#{$media}] {
                margin-bottom: #{$x}px;
            }
        }

    }

}

@mixin output-style ($media) {

    @if $media {
        $media: -#{$media};
    }

    @include item-builder($media);
    @include space-builder($media);

    @at-root .hidden#{$media} {
        display: none !important;
    }

}

@mixin output-style-media($media-range) {

    @each $media, $range in $media-range {

        $max: map-get($range, max);
        $min: map-get($range, min);

        @if $max == null {
            @media (min-width: #{$min}) {
                @include output-style($media);
            }
        }

        @else if $min == null {
            @media (max-width: #{$max}) {
                @include output-style($media);
            }
        }

        @else {
            @media (min-width: #{$min}) and (max-width: #{$max}) {
                @include output-style($media);
            }
        }

    }

}
