$media-range: (
    xs: (min: null, max: 599px),
    sm: (min: 600px, max: 959px),
    md: (min: 960px, max: 1279px),
    lg: (min: 1280px, max: 1919px),
    xl: (min: 1920px, max: null)
);

@mixin flex-builder($media) {

    @if $media {
        $media: #{$media}-;
    }

    .flex-#{$media}auto { flex: auto; }

    @for $i from 12 through 1 {
        .flex-#{$media}#{$i} { flex: 0 0 percentage($i/12); }
    }

}

@mixin hide-builder($media) {

    @if $media {
        $media: -#{$media};
    }

    .hide#{$media} { display: none; }

}

@mixin build-style ($media) {

    @include flex-builder($media);
    @include hide-builder($media);

}

@mixin build-media-style($pre: null) {

    @include build-style($pre);

    @each $media, $range in $media-range {

        $max: map-get($range, max);
        $min: map-get($range, min);

        @if $max == null {
            @media (min-width: #{$min}) {
                @include build-style($media);
            }
        }

        @else if $min == null {
            @media (max-width: #{$max}) {
                @include build-style($media);
            }
        }

        @else {
            @media (min-width: #{$min}) and (max-width: #{$max}) {
                @include build-style($media);
            }
        }

    }

}
