$flex-media: (
    xs: (min: null, max: 599px),
    sm: (min: 600px, max: 959px),
    md: (min: 960px, max: 1279px),
    lg: (min: 1280px, max: 1919px),
    xl: (min: 1920px, max: null)
);

$flex-cols: (
    1: 8.33333%,
    2: 16.66667%,
    3: 25%,
    4: 33.33333%,
    5: 41.66667%,
    6: 50%,
    7: 58.33333%,
    8: 66.66667%,
    9: 75%,
    10: 83.33333%,
    11: 91.66667%,
    12: 100%
);

@mixin media-cols {

    @each $lay, $size in $flex-media {

        $max: map-get($size, max);
        $min: map-get($size, min);

        @each $col, $width in $flex-cols {
            .col-#{$lay}-#{$col} { flex: 0 0 100%; }
        }

        @if $max == null {
            @media (min-width: #{$min}) {
                @each $col, $width in $flex-cols {
                    .col-#{$lay}-#{$col} { flex: 0 0 $width; }
                }
            }
        }

        @else if $min == null {
            @media (max-width: #{$max}) {
                @each $col, $width in $flex-cols {
                    .col-#{$lay}-#{$col} { flex: 0 0 $width; }
                }
            }
        }

        @else {
            @media (min-width: #{$min}) and (max-width: #{$max}) {
                @each $col, $width in $flex-cols {
                    .col-#{$lay}-#{$col} { flex: 0 0 $width; }
                }
            }
        }

    }

}
